.chatBody_insidePara{
    margin: 0;
    padding: 0;
}

.chatBody_timeStamp{
    margin-left: 10px;
    font-size: xx-small;
}

.chatBody_name{
    position: absolute;
    top: -15px;
    font-size: x-small;
    font-weight: 800;
}